body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fl {
  float: left;
}

.mr2 {
  margin-right: 20px;
}

.m2 {
  margin: 20px;
}

.mb2 {
  margin-bottom: 20px;
}

.al {
  text-align: left;
}

button {
  color: white;
  background-color: green;
}

button.red {
  background-color: red;
}

input[type="submit"] {
  color: white;
  background-color: green;
}
